<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PersonTablePage</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h2>PersonTablePage</h2>
  <hr />
  <form method="POST">
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>年齢</th>
          <th>性別</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody th:each="person : ${personList}" th:object="${person}">
        <tr>
          <td th:text="*{personId}"></td>
          <td th:text="*{personName}"></td>
          <td th:text="*{age}"></td>
          <td th:text="*{gender == null ? '' : gender == 'male' ? '男性' : '女性'}"></td>
          <td>
            <button type="submit" th:formaction="@{/edit}"
                    name="personId" th:value="*{personId}">編集</button>
          </td>
          <td>
            <button type="submit" th:formaction="@{/remove}"
                    name="personId" th:value="*{personId}">削除</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button type="submit" th:formaction="@{/toCreate}">作成</button>
    </div>
  </form>
</body>
</html>