<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>BookOrderPage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h2>以下の内容で注文します</h2>
  <hr />
  <form th:action="@{/order}" method="POST">
    <table>
      <tr>
        <td>顧客名</td>
        <td th:text="${session.customer.customerName} + ' 様'"></td>
      </tr>
      <tr>
        <td>注文内容</td>
        <td>
          <table>
            <thead>
              <tr>
                <th>書籍名</th>
                <th>金額</th>
                <th>注文数</th>
              </tr>
            </thead>
            <tbody th:each="cartItem : ${cartSession.cartItems}" th:object="${cartItem}">
              <tr>
                <td th:text="*{bookName}"></td>
                <td th:text="*{#numbers.formatCurrency(price)}"></td>
                <td th:text="*{count}"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>注文金額合計</td>
        <td
          th:text="${#numbers.formatCurrency(cartSession.totalPrice)}"></td>
      </tr>
      <tr>
        <td>配送料金</td>
        <td
          th:text="${#numbers.formatCurrency(cartSession.deliveryPrice)}"></td>
      </tr>
      <tr>
        <td>配送先住所</td>
        <td><input type="text" th:field="${cartSession.deliveryAddress}"
                   maxlength="40" required />
          <div th:if="${#fields.hasErrors('cartSession.deliveryAddress')}"
               th:errors="${cartSession.deliveryAddress}" class="error"></div></td>
      </tr>
      <tr>
        <td>決済方法</td>
        <td>
            <label class="custom-radio">
              <input type="radio" id="bankTransfer" name="settlementType"
                     th:field="${cartSession.settlementType}" th:value="1" />
              <span>銀行振り込み</span>
            </label>
            <label class="custom-radio">
              <input type="radio" id="cashOnDelivery" name="settlementType"
                     th:field="${cartSession.settlementType}" th:value="2" />
              <span>着払い</span>
            </label>
          <div th:if="${#fields.hasErrors('cartSession.settlementType')}"
               th:errors="${cartSession.settlementType}" style="color: red;"></div></td>
      </tr>
    </table>
    <br />
    <button type="submit">注文する</button>
    <br />
    <a th:href="@{/toSelect}">買い物を続ける</a>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  </form>
</body>
</html>