<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>BookSearchPage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h2>条件を入力して書籍を検索してください</h2>
  <hr />
  <form method="GET" th:object="${searchParam}" class="search">
    <table>
      <tr>
        <td>カテゴリ</td>
        <td>
          <select th:field="*{categoryId}">
            <option th:each="category : ${categoryMap}"
                    th:text="${category.key}" th:value="${category.value}">
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>検索キーワード</td>
        <td><input type="text" th:field="*{keyword}" /></td>
      </tr>
    </table>
    <button type="submit" th:formaction="@{/search}">検索実行（静的クエリ）</button>
    <br />
    <button type="submit" th:formaction="@{/search2}">検索実行（動的クエリ）</button>
  </form>
  <br />
  <hr />
  <a th:href="@{/viewHistory}">注文履歴を表示する</a>
</body>
</html>