<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CartViewPage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h2>現在の買い物カゴの内容です</h2>
  <hr />
  <form method="POST" class="cart">
    <table class="bookstore-table">
      <thead>
        <tr>
          <th>書籍名</th>
          <th>注文数</th>
          <th>価格</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody th:each="cartItem : ${cartSession.cartItems}" th:object="${cartItem}">
        <tr>
          <td th:text="*{bookName}"></td>
          <td th:text="*{count}"></td>
          <td th:text="*{#numbers.formatCurrency(price)}"></td>
          <td><input type="checkbox"
                     th:checked="*{remove}"
                     th:name="removeBookIdList"
                     th:value="*{bookId}" /></td>
        </tr>
      </tbody>
    </table>
    <div>注文金額合計</div>
    <div th:text="${#numbers.formatCurrency(cartSession.totalPrice)}"></div>
    <br />
    <a th:href="@{/toSelect}">買い物を続ける</a>
    <br />
    <button type="submit" th:formaction="@{/removeBook}">選択した書籍をカートから削除する</button>
    <br />
    <button type="submit" th:formaction="@{/clear}">買い物カゴをクリアする</button>
    <br />
    <button type="submit" th:formaction="@{/fix}">買い物を終了し注文する</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  </form>
  <br />
  <hr />
  <a th:href="@{/viewHistory}">注文履歴を表示する</a>
</body>
</html>