<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CustomerOutputPage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h2>以下の内容で登録が完了しました</h2>
  <hr />
  <table>
    <tr>
      <td>顧客ID</td>
      <td th:text="${customerId}"></td>
    </tr>
    <tr>
      <td>顧客名</td>
      <td th:text="${customer.customerName}"></td>
    </tr>
    <tr>
      <td>電子メール</td>
      <td th:text="${customer.email}"></td>
    </tr>
    <tr>
      <td>生年月日</td>
      <td
        th:text="${#temporals.format(customer.birthday, 'yyyy年M月d日')}"></td>
    </tr>
    <tr>
      <td>住所</td>
      <td th:text="${customer.address}"></td>
    </tr>
  </table>
  <br />
  <a th:href="@{/toSelect}">書籍の検索ページへ</a>
</body>
</html>