<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CalcInputPage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
  .error { color: red }
</style>
</head>
<body>
  <h2>CalcInputPage</h2>
  <hr />
  <form method="POST" th:object="${calcParam}">
    <div>
      <span>パラメータ1</span>
      <input type="text" th:field="*{param1}" id="param1" />
      <span th:if="${#fields.hasErrors('param1')}" th:errors="*{param1}"
        style="color: red"></span>
    </div>
    <div>
      <span>パラメータ2</span>
      <input type="text" th:field="*{param2}" id="param2" />
      <span th:if="${#fields.hasErrors('param2')}" th:errors="*{param2}"
        style="color: red"></span>
    </div>
    <div>
      <button type="submit" th:formaction="@{/add}" id="addButton">
        足し算
      </button>
      <button type="submit" th:formaction="@{/subtract}" id="subtractButton">
        引き算
      </button>
      <button type="submit" th:formaction="@{/multiply}" id="multiplyButton">
        掛け算
      </button>
      <button type="submit" th:formaction="@{/divide}" id="divideButton">
        割り算
      </button>
    </div>
    <div th:if="${#fields.hasGlobalErrors()}" id="globalErrors">
      <div th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="error"></div>
    </div>
  </form>
</body>
</html>