<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PersonUpdatePage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h2>PersonUpdatePage</h2>
  <hr />
  <form id="form1" th:object="${personForm}" method="POST">
    <div th:if="*{personId} != null">
      <span th:text="|ID : *{personId}|"></span>
    </div>
    <table border="0">
      <tr>
        <td>名前</td>
        <td><span th:text="*{personName}"></span></td>
      </tr>
      <tr>
        <td>年齢</td>
        <td><span th:text="*{age}"></span></td>
      </tr>
      <tr>
        <td>性別</td>
        <td><span th:text="*{gender == null ? '' : gender == 'male' ? '男性' : '女性'}"></span></td>
      </tr>
    </table>
    <div>
      <button type="submit" formaction="/back" th:action="@{/back}">戻る</button>
      <button type="submit" formaction="/update" th:action="@{/update}">更新実行</button>
    </div>
  </form>
</body>
</html>